<nav id ="nav-bar">
    <ul>
        <li ><a class ="nav-bar__link" href = <%= root_path %>>Home</a></li>
        <li ><a class ="nav-bar__link" href ="#about">About Me</a></li>
        <li ><a class ="nav-bar__link" href = "#projects">Projects</a></li>
        <li ><a class ="nav-bar__link" href = <%= pages_contactme_path%>>Get in Touch</a></li>
    </ul>
</nav>