<nav id ="nav-bar">
    <ul>
        <li ><a class ="nav-bar__link" href = <%= root_path %>>Home</a></li>
        <li ><a class ="nav-bar__link" href =<%= pages_aboutme_path%>>About Me</a></li>
        <li ><a class ="nav-bar__link" href = <%=projects_show_path%>>Projects</a></li>
        <li ><a class ="nav-bar__link" href = <%= pages_contactme_path%>>Get in Touch</a></li>
    </ul>
</nav>