<nav id ="nav-bar">
    <ul>
        <li ><a class ="nav-bar__link" href = <%= root_path %>>Home</a></li>
        <li ><a class ="nav-bar__link" href = <%= pages_mywork_path%>>My work</a></li>
        <li ><a class ="nav-bar__link" href = <%= pages_aboutme_path%>>About Me</a></li>
        <li ><a class ="nav-bar__link" href = <%= pages_contactme_path%>>Contact Me</a></li>
    </ul>
</nav>