<%= render "shared/nav" %>
<h1>Who is this guy anyway?</h1>

<p>I'm a born and raised south floridian who always loved music, drawing, and making things. </p>











I currently run a semi online business in making graphics and printables for small buisness 