<%= render "shared/nav" %>

<section  id="about-main">
   

    <div id= "about-photo-bg" >
        <div id="about-title-box">
            <h1>Hi! Im Vlad</h1>
            <h2> A front-end web developer from Florida.</h2>
        </div>

        <div id="about-text" class="clearfix">
            <p>I've always enjoyed games, music, drawing, and making things with my hands so, originally, I believed game development would be the perfect career choice for me. After doing some research and being introduced to the world of Web Dev, I couldn't help but dive right in.</p>       
            <p>I graduated from Broward College with a Bachelor of Applied Science with a specialization in Web development, a mouth full... I know. </p>
            <p>In my free time I’m usually creating graphics and printables like business cards, online flyers and T-shirts for other small businesses, gaming, making music, or spending time with family.</p>
            <p>I’m currently open for work and excited to join a team of like-minded team players to create awesome things for the web!</p>
        </div>
    
    </div>


</section>




