<%= render "shared/nav" %>

<section class = "main-content">
<h1>Who is this guy anyway?</h1>

<p>I'm a born and raised south floridian who always loved music, drawing, and making things. </p>


I currently run a small business creating graphics and printables for other small buisnesses.





</section>




