<div id="hero">
    <h1 class="hero-text"><span class = "name">Vlad Joseph</span></h1>
    <h1 class ="hero-subtext">Front-end web developer</h1>

    <div class="arrow1"></div>
    <div class="arrow2"></div>
    <div class="arrow3"></div>
</div>

<div id="about">
    
</div>



<%# image_tag "portimages/myprofilepicture.jpg"  %>