<section id="hero">
    <h1 class="hero-text"><span class = "name">Vlad Joseph</span></h1>
    <h1 class ="hero-subtext">Front-end web developer</h1>
    <button>resume</button>
    <button>Get in touch!</button>
        <div class="arrow1"></div>
        <div class="arrow2"></div>
        <div class="arrow3"></div>
</section>

<section id="about">
    <p class="faded-text align-left"><</p>
    <h2 class = "section-head">About Me</h2> 
    <br>
    <h3>Hi! I'm Vladimir!</h3> 
    <p class="section-text">I’m a junior web developer 
    who aspires to create beautiful and modern 
    websites with user-centered design. 
    I would love to bring my passion to <span><em>your</em></span> team!</p>
    <p class="faded-text align-right" >/ ></p>
</section>

<section id="projects">
    <p class="faded-text-dark align-left"> < </p>

    <h2 class = "section-head">Projects</h2>
    
    <div class="projects-container">

        <div id="project-1" class="single-project">
            <div class = "img-overlay">
                <h4 class="project-title">My Portfolio</h4>
                <p class="project-description">This portfolio website</p>
            <button>View Code</button>
            <button>View Code</button>
            </div>
        </div>

        <div id="project-2" class="single-project">
            <div class = "img-overlay">
                <h4 class="project-title">Might Locksmith</h4>
                <p class="project-description">Website designed and coded for Mighty Locksmith LLC</p>
            <button>View Code</button>
            <button>View Code</button>
            </div>
        </div>
  
        <div id="project-3" class="single-project">
            <div class = "img-overlay">
                <h4 class="project-title">DoggoSphere</h4>
                <p class="project-description">Project Website. Made with the focus of API usage.</p>
            <button>View Code</button>
            <button>View Code</button>
            </div>
        </div>
    </div>

    <p class="faded-text-dark align-right"> / > </p>
</section>




<%# image_tag "portimages/myprofilepicture.jpg"  %> 