<section id="hero">
    <h1 class="hero-text"><span class = "name">Vlad Joseph</span></h1>
    <h1 class ="hero-subtext">Front-end web developer</h1>
    <div>
        <button class="btn btn-custom-2" >resume</button>
        <button class="btn btn-custom-2">Get in touch!</button>
    </div>

        <div class="arrow1"></div>
        <div class="arrow2"></div>
        <div class="arrow3"></div>

</section>

<section id="about">
    <p class="faded-text align-left"><</p>
    <h2 class = "section-head">About Me</h2> 
    <br>
    <h3>Hi! I'm Vladimir!</h3> 
    <p class="section-text">I’m a web developer base in Sunrise Florida 
     who aspires to create beautiful and modern 
    websites with user-centered design. 
    I would love to bring my passion to <span><em>your</em></span> team!</p>
    <p class="faded-text align-right" >/ ></p>
</section>

<section id="projects-section">
    <p class="faded-text-dark align-left"> < </p>

    <h2 class = "section-head">Projects</h2>
    
    <div class="projects-container">

        <div class="single-project">
            <h4 class="project-title">My Portfolio</h4>
            <a id="project-1" class="project-image"  href ="#" target="blank">
                <p class ="project-overlay-cta-mobile mobile">Click for details...</p>
                <div class="img-overlay">
                    <h6 class="project-desc-text">This portfolio website. </h6>
                    <p class = "project-overlay-cta-large">Click for more detais!</p>
                </div>
            </a>

            <div class="project-desc">
                <p class="project-desc-text mobile">This portfolio website.</p>
                <a href="#" target="blank" class="btn btn-lg btn-custom-1">View Code</a>
            </div>
        </div>


        <div class="single-project">
            <h4 class="project-title">Might Locksmith</h4>
            <a id="project-2" class="project-image"  href ="#" target="blank">
                <p class ="project-overlay-cta-mobile mobile">Click for details...</p>
                <div class="img-overlay">
                    <h6 class="project-desc-text">A buisness Website created for Might Locksmith LLC.</h6>
                    <p class = "project-overlay-cta-large">Click for more detais!</p> 
                </div>
            </a>

            <div class="project-desc">
                <p class="project-desc-text mobile">A buisness Website created for Might Locksmith LLC.</p>
                <a href="#" target="blank" class="btn btn-lg btn-custom-1">View Code</a>
            </div>
        </div>


        <div class="single-project">
            <h4 class="project-title">FAFSA Boss</h4>
            <a id="project-3" class="project-image"  href ="#" target="blank">
                <p class ="project-overlay-cta-mobile mobile">Click for details...</p>
                <div class="img-overlay">
                    <h6 class="project-desc-text">A concept website for helping students with their FAFSA. Featuring CRUD functionality.</h6>
                    <p class = "project-overlay-cta-large">Click for more detais!</p> 
                </div>
            </a>

            <div class="project-desc">
                <p class="project-desc-text mobile">A concept website for helping students with their FAFSA. Featuring CRUD functionality.</p>
                <a href="#" target="blank" class="btn btn-lg btn-custom-1">View Code</a>
            </div>
        </div>


    </div>

    <p class="faded-text-dark align-right"> / > </p>
</section>




<%# image_tag "portimages/myprofilepicture.jpg"  %> 