/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap";

ul{
    margin: 0; 
    padding:0;
  }

body{
    background-color: #060b1a;
}

.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

#nav-bar{
    background-color: rgb(34, 34, 34);
    // border: solid blue 2px;
}

#nav-bar ul{
    display: flex;
}

#nav-bar li {
    list-style: none;
    margin: 1rem;
    font-size: 1.5rem;
}
.nav-bar__link{
    color: white;
    list-style: none;
    text-decoration: none;
}


#hero {
    background-image: linear-gradient( rgba(26, 6, 59, 0.726), rgba(0, 0, 0, 0.582)) , url("imgs/main-bg2-small.jpg");
    background-color: #464646;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    
}; 

.hero-text{
    color: rgb(255, 238, 217);
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-top: -20rem;

}

.hero-subtext{
    color: rgb(192, 230, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    text-align: center;

}

.name{
    font-size: 5rem;
    font-family: 'rock salt', cursive;
}


.arrow1{
    border: solid white;
    border-width: 0 1rem 1rem 0;
    display: inline-block;
    padding: 2rem;
    animation: slidedown 3s infinite;
    position: absolute;
    bottom: 7rem;
}
.arrow2{
    border: solid white;
    border-width: 0 1rem 1rem 0;
    display: inline-block;
    padding: 2rem;
    animation: slidedown 3s infinite;
    position: absolute;
    bottom: 9rem;
}
.arrow3{
    border: solid white;
    border-width: 0 1rem 1rem 0;
    display: inline-block;
    padding: 2rem;
    animation: slidedown 3s infinite;
    position: absolute;
    bottom: 5rem;
}

    @keyframes slidedown {
        0%{
            opacity: 0;
            transform: rotate(45deg) translate(-2rem, -2rem);
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(45deg)  translate(2rem, 2rem);
        }
    }




.section-head{
    font-size: 3rem;
    text-align: left;
}
#about {
    padding: 3rem 1.5rem;
    color: white;
    font-family: "caveat", cursive;
    text-align: center;
    width: 100%;
    margin: auto;
}
#about h3{
    font-size: 5rem;
    color: rgb(168, 217, 250);
}
.section-text{
    font-size: 2rem;
    font-family: "oswald", cursive;
    text-align: right;
}
#about p span{
    font-family: "rock salt", cursive;
    color: red;

}

.faded-text{
    font-family: "rock salt", cursive;
    color: rgba(255, 255, 255, 0.212);
    font-size: 2rem;
}

#projects{
background-color: aliceblue;
padding: 3rem 1.5rem;
font-family: "caveat", cursive;
text-align: center;
width: 100%;
margin: auto;
}

.project-container{
    display: flex;
    flex-direction: column;
}
.single-project{
    width: 80vw;
    height: 45vh;
    border-radius: 1.3rem;
    margin: 1.5rem auto;
}

#project-1{
    background-image: url("imgs/placeholder1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#project-2{
    background-image: url("imgs/placeholder2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#project-3{
    background-image: url("imgs/placeholder3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}






@media screen and (min-width: 767px) {
    #hero {
        background-image: linear-gradient( rgba(26, 6, 59, 0.726), rgba(0, 0, 0, 0.582)) , url("imgs/main-bg2.jpg");
    };  
    
    #about {
        width: 70%;

    }
}    








footer{
    margin-top:500px;
};